<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="./static/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="topnav" id="myTopnav">
        <i>Flight Fare</i>
        <a href="/contact">Contact Us</a>
        <a href="/about">About Me</a>
        <a href="/" class="active">Home</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div class="about-section">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
                I am Praveen Patel.I am persuing B.Tech Computer science and Engineering from Bundelkhand University
                ,Jhansi Uttar Pradesh 284128
            </p>
            <div class="skills">
                <span>Machine Learning</span>
                <span>Data Science</span>
                <span>Coding</span>
                <span>Travelling</span>
            </div>
            <div class="socialIcons">
                <a href="https://twitter.com/patel567praveen?s=09"><i class="fa fa-twitter"></i></a>
                <a href="https://github.com/PatelPraveen12/"><i class="fa fa-github"></i></a>
                <a href="https://www.linkedin.com/in/praveen-patel-ietbu/"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/thepraveenpatel/"><i class="fa fa-instagram"></i></a>
                <a href="patel567praveen@gmail.com"><i class="fa fa-google"></i></a>
                <a href="https://www.snapchat.com/add/prapp726"><i class="fa fa-snapchat-ghost"></i></a>
            </div>
        </div>
    </div>
</body>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>

</html>